<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Customers List</h2>
    <!-- <img src="{{customer.image.url}}" /> -->
    <h1 class="customer-name">{{ customer.first_name }}</h1>
    <h1 class="customer-name">{{ customer.second_name }}</h1>

    <h2>{{customer.phone}}</h2>
    <h2>{{customer.email}}</h2>
    <button>Add to cart</button>
   
   
   
    
</body>
</html>