<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mama Morins' Grocery</title>
</head>
<body>
    <h1>Jebets' Grocery Customers </h1>
  
    <div class="allcustomers">
        {% for customer in customers %}
            <div class="customer-container">
                <!-- <img src="{{customer.image.url}}" class="img"/> -->
                <h1 class="customer-name">{{ customer.first_name }}</h1>
                
                 <a href="{% url 'customer_detail_view' id=customer.id %}">view details</a><br>
                 <a href="{% url 'customer_update' id=customer.id %}">edit details</a><br>
                 <a href="{% url 'customer_delete' id=customer.id %}">Delete</a>

                
           

              
            </div>
        {% endfor %}
    </div>

    <style>
        
        .allcustomers{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
           
            
            border: 1px solid black;
}

        
    </style>
    
</body>
</html>